body {
  background-color: darksalmon;
}

@font-face {
font-family: Cambria;
src: url('https://www.folder6.github.io/fonts/Cambria.ttf')
}

img {
  float:center;
	max-width: 200px;
  max-height: 350px;
}

h1 {
    color:white;
    padding:20px;
    font-size:24px;
    text-align: center;
}

p {
    color:lightcoral;
    padding:10px;
    font-size:14px;
    background-color:white;
}

header {
  background-color: wheat;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}