body {
		background-color:#99ccff;
	}	

.slideshow {display:none;}

.images {
	text-align: center;
}

h1 {
	color:white;
	text-align: center;
	padding: 50px;
	font-size:48px;
	}

p {
	color:white;
	text-align: auto;
	padding:50px;
	}

.tanker {
	display:block;
	overflow:hidden;
	color:black;
	float:left;
	padding:0;
	margin:50px;
}