body {
    background-color: lightseagreen;
    }

@font-face {
	font-family: Cambria;
	src: url('https://www.folder6.github.io/fonts/Cambria.ttf')
}

h1 {
	color:white;
	text-align: center;
	padding: 50px;
	font-size:48px;
	}

p {
	color:white;
	text-align: auto;
	padding:50px;
	}

.tanker {
	width:500px;
	border:none;
	padding:25px;
	margin-left:auto;
	margin-right:auto;
	background-color:#0d0d0d;
	color:white;
	text-align:auto;
}

.slideshow {
	width:100%;
	max-height: 800px;
	display:none;
	margin-bottom: 200px;
}

.images {
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
}
