body {
		background-color:#00ff99;
	}	

h1 {
	color:white;
	text-align: center;
	padding: 50px;
	font-size:48px;
	font-family: "Times New Roman", Times, serif;
	}

p {
	color:white;
	text-align: auto;
	padding:50px;
	font-family: "Times New Roman", Times, serif;
	}

.tanker {
	width:500px;
	border:none;
	padding:25px;
	margin-left:auto;
	margin-right:auto;
	background-color:#333;
	color:white;
	text-align:auto;
	font-family: "Times New Roman", Times, serif;
}

.slideshow {
	width:100%;
	display:none;
}

.images {
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
}
