ul {
    list-style-type:circle;
}

li {
    color:lightgreen;
}

body {
    background-color:black;
}

img.heist {
    display:block;
    margin:0 auto;
}

h1 {
    color:white;
    padding:10px;
    background-color:black;
    text-align: center;
}

p {
    color:white;
    padding:10px;
    margin-left:100;
    margin-right:100;
}

a:link {
    color:blue;
    text-decoration: none;
}

a:visited {
    color:blue;
    text-decoration: none; 
}











