ul {
    list-style-type:circle;
    color:red;
}

li {
    color:yellow;
}

body {
    background-color:black;
}

img.heist {
    display:block;
    margin:0 auto;
}

h1 {
    color:white;
    padding:10px;
    background-color:black;
    text-align: center;
}